html, html * {
  outline: none !important;
}

body {
  font-family: $sans;
  font-size: 14px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $serif;
  font-weight: 700;
}

.logo {
  padding: 51px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 10;

  @include tablet {
    position: absolute;
    padding: 0;
    top: 35px;
    left: 40px;
  }

  @include phone {
    padding: 0;
    top: 25px;
    left: 25px;
  }

  &, & * {
    @include prefix('transition', all .5s ease);
  }

  .logo-line {
    display: block;
    width: 1px;
    height: 75px;
    position: absolute;
    background: rgba(255, 255, 255, .43);
    position: absolute;

    @include tablet {
      height: 0;
      opacity: 0;
    }

    &.top-right {
      @include prefix('transform', rotate(45deg));
      top: -10px;
      right: 56px;

      @include phone {
        right: 28px;
        top: -5px;
      }
    }

    &.top-left {
      @include prefix('transform', rotate(315deg));
      top: -10px;
      right: 138px;

      @include phone {
        top: -5px;
        right: 166px;
      }
    }

    &.bottom-right {
      @include prefix('transform', rotate(135deg));
      bottom: -10px;
      right: 56px;

      @include phone {
        right: 28px;
        bottom: -5px;
      }
    }

    &.bottom-left {
      @include prefix('transform', rotate(225deg));
      bottom: -10px;
      right: 138px;

      @include phone {
        bottom: -5px;
        right: 166px;
      }
    }
  }

  .logo-text {
    position: absolute;
    display: block;
    font-size: 9px;
    font-family: $serif;
    font-weight: 400;
    text-align: center;
    width: 49px;
    letter-spacing: .5px;
    color: $white;

    @include tablet {
      opacity: 0;
    }

    &.top {
      top: 30px;
      right: 73px;

      @include phone {
        opacity: 0;
        top: 15px;
      }
    }

    &.bottom {
      bottom: 30px;
      right: 73px;

      @include phone {
        opacity: 0;
        bottom: 15px;
      }
    }
  }
}

.nav {
  display: inline-block;
  width: 30px;
  height: 19px;
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 40px;
  z-index: 10;

  @include phone {
    top: 33px;
    right: 30px;
  }

  &, & * {
    @include prefix('transition', all .5s ease);
  }

  .line {
    width: 30px;
    height: 1px;
    background: $white;
    position: absolute;

    &.top {
      top: 0;
      left: 0;
    }

    &.middle {
      top: 9px;
      left: 0;
    }

    &.bottom {
      bottom: 0;
      left: 0;
    }
  }

  &.open {

    .line.top {
      @include prefix('transform', rotate(225deg));
      top: 9px;
    }

    .line.middle {
      left: 50%;
      width: 0;
    }

    .line.bottom {
      @include prefix('transform', rotate(315deg));
      bottom: 9px;
    }
  }
}

.download {
  @include prefix('border-radius', 3px);
  width: 284px;
  height: 36px;
  border: 1px solid $white;

  .download-label {
    font-family: $serif;
    color: $offwhite;
    font-weight: bold;
    margin-top: -38px;
    margin-bottom: 22px;
    display: block;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .download-dropdown {
    float: left;
    display: block;
    height: 36px;
    width: 226px;
    border: 0;
    background: transparent;
    color: $white;
    font-weight: 300;
    font-family: $sans;
    letter-spacing: .5px;
    color: $offwhite;
  }

  .download-button {
    @include prefix('box-sizing', border-box);
    float: left;
    display: block;
    height: 36px;
    width: 58px;
    background: $white;
    color: $offblack;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
  }
}
